


<div class="row">
  <div class="col-sm-6">
    <h1>Congressional_chambers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_congressional_chamber_path, class: 'btn btn-primary' do %>
    Add New Congressional chamber
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @congressional_chambers.each do |congressional_chamber| %>
        <%= content_tag :tr, id: dom_id(congressional_chamber), class: dom_class(congressional_chamber) do %>
          
            <td><%= link_to congressional_chamber.name, congressional_chamber %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
