 <div class="hexagon color-sass">
    <img src="https://theunitedstates.io/images/congress/225x275/<%= member.bio_directory_id %>.jpg" alt="some">
  <%#= link_to member do %>
    <span class="blokedtext"><%= member.bio_directory_id %></span>
  <%# end %>
  </div>  
 