  <%= link_to member, class: "hexagon color-atom" do %>
 <div class="hexagon color-atom" >
    <img src="https://theunitedstates.io/images/congress/225x275/<%= member.bio_directory_id %>.jpg" alt="some">
    <span class="blokedtext"><%= member.bio_directory_id %></span>
  </div>  
  <% end %>
 