<%# start hive grid %>

<header><h1>Hive looking responsive grid</h1>
	<p>Change <span>$block-size</span> value in the CSS and <span>resize the window</span> to see it in action</p>
</header>
	<div class="grid">
  <%= render partial: "member_hexagon", collection: @congressional_members, as: :member %>

	</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Congressional_members</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_congressional_member_path, class: 'btn btn-primary' do %>
    Add New Congressional member
  <% end %>
  </div>
</div>

